.cls-1, .cls-3 {
    fill:none;
}
.cls-1, .cls-2 {
    stroke:#39b54a;
}
.cls-1, .cls-2, .cls-3 {
    stroke-miterlimit:10;
    stroke-width:0.5px;
}
.cls-2 {
    fill:#39b54a;
}
.cls-3 {
    stroke:#000;
}
